#cadastro-livros-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-black);
}

.input-books {
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  border: 1px solid #bebebe;
  background: var(--primary-white);
  width: 100%;
  height: 38px;
  outline: none;
  padding: 10px 14px;
  margin: 0px;

  &:focus {
    border: 1px solid #bebebe;
  }

  &::placeholder {
    color: var(--primary-stroke-gray);
    font-size: 14px;
    font-weight: 400;
  }
}

.register-button {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  height: 38px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--primary-light-green);
  color: var(--primary-white);
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--primary-dark-green);
  }
}
