:root {
  --primary-dark-green: #86B207;
  --secondary-dark-green: #98CD00;
  --primary-light-green: #A4DD00;
  --secondary-light-green: #B6F500;
  --primary-beige: #FFFADC;
  --primary-black: #000000;
  --primary-white: #FFFFFF;
  --primary-stroke-gray: #DEDEDE;
  --header-black: #363636;
  --subtitle-gray: #535862;
}

