.usuarios-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
  text-align: start;
}

.description {
  margin-bottom: 20px;
  text-align: start;
  font-size: 16px;
}

.user-table {
  width: fit-content;
  border-collapse: collapse;
  margin-top: 1rem;
  overflow-x: auto;
}

.user-table thead {
  white-space: nowrap;
}

.user-table th,
.user-table td {
  border: 1px solid var(--primary-stroke-gray);
  padding: 0.75rem;
  text-align: left;
  font-size: 14px;
}

.user-table th {
  background-color: var(--primary-light-green);
  color: var(--primary-white);
  font-weight: 500;
}

.user-table td {
  background-color: var(--primary-white);
  color: var(--primary-black);
  font-weight: 400;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  min-width: 120px;
  padding: 8px 10px;
  height: auto;
  border-radius: 10px;
  background-color: var(--primary-light-green);
  color: var(--primary-white);
  text-align: center;
  transition: background-color 0.2s;
}

.action-button:hover {
  background-color: var(--primary-dark-green);
}

.button-icon {
  width: 20px;
  margin-right: 6px;
}

.button-icon.edit {
  width: 17px;
}

.button-icon.delete {
  width: 15px;
}

.action-button.editar {
  background-color: var(--primary-white);
  border: 2px solid var(--primary-light-green);
  color: var(--primary-light-green);
}

.action-button.editar:hover {
  background-color: #f0ffc9;
}

.action-button.excluir {
  background-color: rgb(245, 8, 8);
}

.action-button.excluir:hover {
  background-color: rgb(192, 0, 0);
}

.input.form {
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }

  .action-button {
    flex: 1 1 100%;
    min-width: unset;
    padding: 10px;
    justify-content: center;
  }

  .button-icon {
    margin-right: 4px;
  }
}

@media (max-width: 500px) {
  .user-table th,
  .user-table td {
    font-size: 12px;
    padding: 0.5rem;
  }

  .input.form {
    max-width: 100%;
  }

  .action-buttons {
    flex-direction: column;
    align-items: stretch;
  }

  .action-button {
    width: 100%;
  }
}
