.header {
  display: flex;
  width: 100%;
  background-color: var(--primary-white);
  height: 70px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--primary-stroke-gray);
}

.header-logo {
  display: flex;
  position: absolute;
  left: 30px;
  font-size: 34px;
  font-family: "Rubik", sans-serif;
  color: var(--secondary-dark-green);
}

.header-nav {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  gap: 50px;
}

.nav-link {
  display: flex;
  text-decoration: none;
  color: inherit;
  padding: 24px 0;
}

.nav-link:hover {
  color: var(--primary-dark-green);
}

.nav-link.active {
  color: var(--primary-dark-green);
  border-bottom: 4px solid var(--secondary-dark-green);
  border-radius: 3px;
}
